@import '../_utilities/_variables';

.site-header{
  border-bottom: 1px solid $black;
  width: 90%;
  margin: 15px auto 0 auto;

  .header-title{
    text-decoration: none;
    font-size: 36px;
    color: $black;
  }

  .header-description{
    font-weight:100;
    margin: 10px auto;
  }
}
